body {
  height:100vh;
  width:100vw;
  overflow:hidden;
}

iframe {
  min-width:100vw;
  min-height:100vh;
  /*object-fit:cover;*/
}

.status__wrapper {
  position:absolute;
  bottom:10px;
  width:98vw;
  border: 2px solid black;
  display:flex;
}

.status__model {
  width:20%;
  height: 150px;
  background-color:blue;
  display:inline-block;
}

.status-chart__wrapper {
  width:80%;
  height:150px;
  display:inline-block;
}

#status-chart {
  /*position:absolute;
  bottom:0;*/
}